
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>ABOUT-US</title>

    <!-- core CSS -->
    <link href="~/Content/aboutus.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/prettyPhoto.css" rel="stylesheet">
    <link href="~/Content/animate.min.css" rel="stylesheet">
    <link href="~/Content/aboutus.css" rel="stylesheet">
    <link href="~/Content/responsive.css" rel="stylesheet">
    <link href="~/Content/bottom.css" rel="stylesheet">
    <link rel="stylesheet" media="screen" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="~/images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="~/images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->

<body >
   

    
    <section id="aboutt">
        <div class="container">
            <div class="col-md-1"></div>
                <div class="col-md-10">
                    <h2>About Us</h2>
                    <p >
                      
                          The Disabled Rehabilitation Centre Nepal was established in 2002 as a non profit and Non Government Organisation (NGO). Many of the founding members were people who had physical disabilities themselves. DRC Nepal is registered with the Chief District Office of Government, Kathmandu, and affiliated with the Social Welfare Council under the Ministry of Social Welfare.drc-donation1 DRC, as an NGO aims to provide a caring Family Home, Healthcare and Education to equip children who have a physical disability or are extremely poor with the necessary life skills for them to become self reliant.
                        DRC is registered with the Chief District Office, Kathmandu and affiliated with the Social Welfare Council # 13543 under HMG Ministry of Social Welfare. DRC is also an registered NGO registration # 856/2000.
                        </p>
                    <h2> What we do </h2>
                    <p >
                        The Disabled Rehabilitation Centre Nepal provides residential facilities in a family like environment for 55 children at their Care House in Gokarna Kathmandu. DRC focuses on providing our in-house children with corrective surgery and the best available educational opportunities. DRC has negotiated excellent discount rates with the hospitals, surgeons and schools. In Nepal school fees have to be paid for all children attending school.

                        Our two top priorities are Health and Education.

                        Health

                        An agreement has been negotiated with the Rotary Club

                        of Kathmandu and has been coordinated through Dr Anil Shrestha and Jacky for the provision full medical coverage. The Hospital is very close to the DRC Care House, providing easy access in times of emergency.

                        DRC is very grateful for the support of this organisation and contributing individuals.
                        </p>
                </div>
                

            <div class="col-md-1"></div>
</section>

    <section id="objectives">
        <div class="container">
            <div class="skill-wrap clearfix">

                <div class="center wow fadeInDown">
           
                    <p class="lead">We always focus on helping children to get the great future and prosperous life</p>
                </div>

                <div class="row">

                    <div class="col-sm-3">
                        <div class="sinlge-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                            <div class="joomla-skill">
                                <p>prosperous life</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="sinlge-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                            <div class="html-skill">
                                <p>health monitoring</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="sinlge-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="900ms">
                            <div class="css-skill">
                                <p>scholarships</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="sinlge-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="1200ms">
                            <div class="wp-skill">
                                <p>proper report</p>
                            </div>
                        </div>
                    </div>

                </div>

            </div><!--/.our-skill-->
        </div>
    </section>
    <!--bottom--><section id="bottom">
        <div class="container wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h3>Company</h3>
                        <ul>
                            <li><a href="#">About us</a></li>
                            <li><a href="#">We are voluntering</a></li>
                            <li><a href="#">Meet the team</a></li>
                            <li><a href="#">Copyright</a></li>
                            <li><a href="#">Terms of use</a></li>
                            <li><a href="#">Privacy policy</a></li>
                            <li><a href="#">Contact us</a></li>
                        </ul>
                    </div>
                </div><!--/.col-md-3-->

                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h3>Support</h3>
                        <ul>
                            <li><a href="#">Faq</a></li>
                            <li><a href="#">Volunteering</a></li>
                            <li><a href="#">Forum</a></li>
                            <li><a href="#">Documentation</a></li>
                            <li><a href="#">Sponsor policy</a></li>
                            <li><a href="#">Adoption system</a></li>
                            <li><a href="#">orphanage system</a></li>
                        </ul>
                    </div>
                </div><!--/.col-md-3-->

                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h3>Developers</h3>
                        <ul>
                            <li><a href="#">Web Development</a></li>
                            <li><a href="#">Marketing</a></li>
                            <li><a href="#">Theme</a></li>
                            <li><a href="#">Development</a></li>
                            <li><a href="#">Email Marketing</a></li>
                            <li><a href="#">Sponsor Development</a></li>
                            <li><a href="#">Article Writing</a></li>
                        </ul>
                    </div>
                </div><!--/.col-md-3-->

                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h3>Our Partners</h3>
                        <ul>
                            <li><a href="#">Dipressed children n infants</a></li>
                            <li><a href="#">Volunteer society nepal</a></li>
                            <li><a href="#">Orphans benifits</a></li>
                            <li><a href="#">Africompassion</a></li>
                            <li><a href="#">Save Our Soul;</a></li>
                            <li><a href="#">Dristibihin</a></li>
                            <li><a href="#">DRC</a></li>
                        </ul>
                    </div>
                </div><!--/.col-md-3-->
            </div>
        </div>
    </section>
 
    <script src="js/jquery.js"></script>
    <script type="text/javascript">
        $('.carousel').carousel()
    </script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/jquery.isotope.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/wow.min.js"></script>
</body>
</html>

