@{
    ViewBag.Title = "GetInvolved";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>GET-INVOLVED</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/prettyPhoto.css" rel="stylesheet">
    <link href="~/Content/animate.min.css" rel="stylesheet">
    <link href="~/Content/getinvolved.css" rel="stylesheet">
    <link href="~/Content/responsive.css" rel="stylesheet">
    <link href="~/Content/bottom.css" rel="stylesheet">
    <link rel="stylesheet" media="screen" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="~/images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="~/images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->
<body>


    <section id="getinvolved">
        <div class="container">
            <div class="center">
                
            </div>
            
                <div class="col-md-4">
                    
                    <h2>VOLUNTEERING</h2>
                    <h2>How do volunteers help?</h2>
                    <p>
                        The general role of the volunteer will not be to replace the caretakers but to act as an activity organizer, to encourage the children in their studies and good behavior, and to help them develop socially, academically, and confidently. Volunteers will teach the children general life skills, including health and sanitation, as well as arts, crafts and music. As a volunteer at an orphanage in Nepal, you may also organize tours, games, drawing classes, singing, dancing, painting and other creative activities that the children enjoy.
                        
                     </p>
                    <h2>Do I need any specific qualifications or skills for volunteering?</h2>
                    <p>
                        Volunteers do not need any qualifications to help in an orphanage in Nepal, but it will be a more enjoyable experience if you are enthusiastic and approachable.To protect the children from harm, we ask each volunteer to sign the VSN Child and Vulnerable Adult Protection Policy.
                    </p>
                    <img class="img-responsive" src="~/images/getinvolved1.png" alt="">
                </div>
                <div class="col-md-4">
                   <h2>FUND-RAISING</h2>
                    <p>
                        We highly depends on donations in order to continue to provide the high quality care and opportunities our children deserve. In 2012, nearly three hundred individuals across the world made financial contributions, and significant for the raising of funds and spreading awareness of our mission were the numerous events held by our friends, former volunteers, and supporters. These events were as varied as the creativity of the people who organized them in their steadfast determination to support our children and included bake sales, silent auctions, photography exhibits, fun runs, yoga events, tea parties and Australian BBQs. Especially inspiring were the children who initiated the bake sales or who celebrated their birthdays by asking for donations for the children of Papa’s House. Sometimes groups passing through Nepal make it a point to visit Papa’s House, like the ultra-marathoners from Hong Kong, who made a generous donation.    
                    </p>
                    <img class="img-responsive" src="~/images/getinvolved2.png" alt="">
                </div>
                 <div class="col-md-4">
                    <h2> EVENTS </h2>
                     <p>
                        Events are a great way to have a good time whilst helping those less fortunate.

                         From talks to dinners, community street parties to village quizzes, there’s no better way to socialise with like-minded people whilst giving back.

                         We put on many fundraising events every year, but are always happy to hear from those wanting to run one themselves.

                         If you’d like to host your own  event, please contact or email us .
                     </p>
                     <img class="img-responsive" src="~/images/getinvolved3.png" alt="">
                 </div>
                
            
            </div>
        </section>
    <!--bottom--><section id="bottom">
        <div class="container wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h3>Company</h3>
                        <ul>
                            <li><a href="#">About us</a></li>
                            <li><a href="#">We are voluntering</a></li>
                            <li><a href="#">Meet the team</a></li>
                            <li><a href="#">Copyright</a></li>
                            <li><a href="#">Terms of use</a></li>
                            <li><a href="#">Privacy policy</a></li>
                            <li><a href="#">Contact us</a></li>
                        </ul>
                    </div>
                </div><!--/.col-md-3-->

                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h3>Support</h3>
                        <ul>
                            <li><a href="#">Faq</a></li>
                            <li><a href="#">Volunteering</a></li>
                            <li><a href="#">Forum</a></li>
                            <li><a href="#">Documentation</a></li>
                            <li><a href="#">Sponsor policy</a></li>
                            <li><a href="#">Adoption system</a></li>
                            <li><a href="#">orphanage system</a></li>
                        </ul>
                    </div>
                </div><!--/.col-md-3-->

                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h3>Developers</h3>
                        <ul>
                            <li><a href="#">Web Development</a></li>
                            <li><a href="#">Marketing</a></li>
                            <li><a href="#">Theme</a></li>
                            <li><a href="#">Development</a></li>
                            <li><a href="#">Email Marketing</a></li>
                            <li><a href="#">Sponsor Development</a></li>
                            <li><a href="#">Article Writing</a></li>
                        </ul>
                    </div>
                </div><!--/.col-md-3-->

                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h3>Our Partners</h3>
                        <ul>
                            <li><a href="#">Dipressed children n infants</a></li>
                            <li><a href="#">Volunteer society nepal</a></li>
                            <li><a href="#">Orphans benifits</a></li>
                            <li><a href="#">Africompassion</a></li>
                            <li><a href="#">Save Our Soul;</a></li>
                            <li><a href="#">Dristibihin</a></li>
                            <li><a href="#">DRC</a></li>
                        </ul>
                    </div>
                </div><!--/.col-md-3-->
            </div>
        </div>
    </section>

    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/jquery.isotope.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/wow.min.js"></script>
</body>
</html>
