
@{
    ViewBag.Title = "Sponsor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>ABOUT-US</title>

    <!-- core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/prettyPhoto.css" rel="stylesheet">
    <link href="~/Content/animate.min.css" rel="stylesheet">
    <link href="~/Content/aboutus.css" rel="stylesheet">
    <link href="~/Content/responsive.css" rel="stylesheet">
    <link href="~/Content/bottom.css" rel="stylesheet">
    <link rel="stylesheet" media="screen" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="~/images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="~/images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->

<body>

    <section id="sponsor">
        <div class="container">
      
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <h2>Change the Life Of a Child</h2>
                    <p>
                        Every child deserves a strong start – the best chance for a successful future. But too many children right here in Nepal. and around the world aren’t getting the opportunity to reach their full potential. You can help change that. If you sponsor a child, then you’ll give them the gift of a brighter future.
                    </p>
                    <p>
                        When you sponsor a child, you achieve a special kind of giving that creates a relationship between you and the community where Save the Children's caring professionals are helping to change the future. Sponsorship provides essential aid and education to improve the well-being of children. It gives you the opportunity to witness young lives transformed for the future. When you sponsor a child, two lives are changed: a child's and yours!
                    </p>

                    <h2>Empower Children for a Brighter Future</h2>
                    <p>
                        When you sponsor a poor child, you do not help a needy child – you empower a child who has been robbed of rights and opportunities so many of us take for granted. Child sponsorship charities such as that of VIN are grateful souls who truly rely on your contributions. Through your contributions you have the ability to create engaged, self-reliant, world conscious citizens of the future. Sponsor an orphan child so that together we can save vulnerable children who are conflict victims.

                        Sponsor a child in need by giving as little or as much as you possibly can. Sponsor a child and you will receive up-to-date status on the progress you are helping us make. These are children who are orphaned, abandoned, or conflict victims. Due to the severe poverty experienced by families in Nepal, children are unable to afford access to basic or higher education. Particularly, girls are at a greater disadvantage due gender discrimination, which is still a great challenge in Nepal. You can help create equality for children of Nepal.
                    </p>
                    <p>
                        You have the opportunity to make a difference today. When you sponsor a child in Nepal you are giving to those most urgently in need. These include orphanage children, conflict victim children, and disadvantaged community children from poverty stricken areas of Nepal. You give hope when you sponsor children in Nepal for it provides them with education – the key to their thriving.
                    </p>
                </div>
                <div class="col-md-1"></div>
            
        </div>

    </section>
  
   
    <section id="sponsorphoto">
        <div class="container">
            <div class="photos">
                <div class="col-md-3">
                    <img class="img-responsive" src="~/images/sponsor1.png" alt="">
                </div>
                <div class="col-md-3">
                    <img class="img-responsive" src="~/images/sponsor2.png" alt="">
                </div>
                <div class="col-md-3">
                    <img class="img-responsive" src="~/images/sponsor3.png" alt="">
                </div>
                <div class="col-md-3">
                    <img class="img-responsive" src="~/images/sponsor4.png" alt="">
                </div>
            </div>
        </div>
    </section>
    <section class="center">
        <div class="container">
            <div class="button">
                <button type="button" class="btn btn-danger">Sponsor</button>
            </div>
        </div>
    </section>

    
    <!--bottom--><section id="bottom">
        <div class="container wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h3>Company</h3>
                        <ul>
                            <li><a href="#">About us</a></li>
                            <li><a href="#">We are voluntering</a></li>
                            <li><a href="#">Meet the team</a></li>
                            <li><a href="#">Copyright</a></li>
                            <li><a href="#">Terms of use</a></li>
                            <li><a href="#">Privacy policy</a></li>
                            <li><a href="#">Contact us</a></li>
                        </ul>
                    </div>
                </div><!--/.col-md-3-->

                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h3>Support</h3>
                        <ul>
                            <li><a href="#">Faq</a></li>
                            <li><a href="#">Volunteering</a></li>
                            <li><a href="#">Forum</a></li>
                            <li><a href="#">Documentation</a></li>
                            <li><a href="#">Sponsor policy</a></li>
                            <li><a href="#">Adoption system</a></li>
                            <li><a href="#">orphanage system</a></li>
                        </ul>
                    </div>
                </div><!--/.col-md-3-->

                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h3>Developers</h3>
                        <ul>
                            <li><a href="#">Web Development</a></li>
                            <li><a href="#">Marketing</a></li>
                            <li><a href="#">Theme</a></li>
                            <li><a href="#">Development</a></li>
                            <li><a href="#">Email Marketing</a></li>
                            <li><a href="#">Sponsor Development</a></li>
                            <li><a href="#">Article Writing</a></li>
                        </ul>
                    </div>
                </div><!--/.col-md-3-->

                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h3>Our Partners</h3>
                        <ul>
                            <li><a href="#">Dipressed children n infants</a></li>
                            <li><a href="#">Volunteer society nepal</a></li>
                            <li><a href="#">Orphans benifits</a></li>
                            <li><a href="#">Africompassion</a></li>
                            <li><a href="#">Save Our Soul;</a></li>
                            <li><a href="#">Dristibihin</a></li>
                            <li><a href="#">DRC</a></li>
                        </ul>
                    </div>
                </div><!--/.col-md-3-->
            </div>
        </div>
    </section>

    <script src="js/jquery.js"></script>
    <script type="text/javascript">
        $('.carousel').carousel()
    </script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/jquery.isotope.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/wow.min.js"></script>
</body>
</html>

