<link href="~/Content/aboutus.css" rel="stylesheet" />
<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                &copy; 2017 <a target="_blank" href="http://shapebootstrap.net/" title="Free Twitter Bootstrap WordPress Themes and HTML templates">orphansmanagement</a>. All Rights Reserved.
            </div>

        </div>
    </div>
</div>
